<%- include('layouts/header') -%>
    <main>
        <section class="hero-Sec">
            <h1 class="text-center ">Welcome to book Store</h1>

        </section>
    </main>
    <%- include('layouts/footer') -%>